@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
button{
width: 3em;
height: 1.6em;
font-size: 2em;
border-radius: .8em;
padding-top: .2em;
}
.light{
  background-color: rgb(255, 245, 245);
  transition: ease-in .2s;
}
.light p,h1{
  transition: ease-in-out 2s;
}

.light button {
  color: white;
  background-color: #222;
}

.dark {
  background-color: #222;
  transition: ease-in .2s;
}

.dark p,h1{
  transition: ease-in-out 2s;
}

.dark button {
  background-color: aliceblue;
  color: #222;
}

.dark p {
  color: white;
}
.dark h1 {
  color: white;
}

